@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600');

header {
    margin:0;
}
.ui-menu-color {
    color: #800000;
}

@media (max-width: 767px) {
    .mobile {
        background-color: #0997d3;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tablet{
        background-color: #bada55;
    }
}
@media (min-width: 992px) and (max-width: 1800px) {
    .desktop {
        background-color: #000
    }
}
span {
    text-align: right;
}