@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600');

body {
    background: url(/assets/images/monkees.jpg );
    background-size: 100% 100%;
}
header {
    margin:10px;
}
.ui-menu-color {
    color: #800000;
}

@media (max-width: 767px) {
    .mobile {
        background-color: #0997d3;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .tablet{
        background-color: #bada55;
    }
}
@media (min-width: 992px) and (max-width: 1800px) {
    .desktop {
        background-color: #000
    }
}
span {
    text-align: right;
}
h1, h2{
    text-align: center;
}
.offset-md-3 {
    margin:0;
    padding: 10px;
    
}
.inline-block{
    
}
section {
    margin: 10px;
    padding: 10px;
}
footer {
    margin: 10px;
    padding: 10px;
}


.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FFFF00;
    background-color: #008080;
}